@import "bootstrap/scss/bootstrap";
@font-face {
    font-family: 'planar';
    src: url('../../public/GT-Planar-Trial-VF.ttf') format('truetype');
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    user-select: none;
}

.slider {
    -webkit-appearance: none;
    width: 32vw;
    height: 1px;
    border-radius: 3px;
    background-color: #ccc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 4vw;
    margin-top: 2vh;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3.5vw;
    height: 2vw;
    border-radius: 1.5vw;
    background: rgb(130, 130, 130);
    cursor: pointer;
}

#rangeright {
    position: absolute;
    margin-top: 88vh;
    margin-left: 50vw;
}

.slider::-moz-range-thumb {
    width: 3.5vw;
    height: 2vw;
    background: rgb(130, 130, 130);
    cursor: pointer;
}

#mf {
    font-family: 'planar';
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 46vh;
    margin-top: 28vh;
    font-variation-settings: 'wght' 100, 'slnt' 0;
    -webkit-font-smoothing: antialiased;
}

#weightRange {
    margin-left: 11vw;
}

#slantRange {
    margin-left: 59vw;
}

.labels {
    color: white;
    font-family: 'planar';
    font-size: 1.6vw;
    position: absolute;
    margin-top: -4.5vh;
}

#weightLabela {
    font-variation-settings: 'wght' 100;
    margin-left: 15.2vw;
}

#weightLabelb {
    font-variation-settings: 'wght' 900;
    margin-left: 45.2vw;
}

#slantLabela {
    font-variation-settings: 'wght' 350;
    margin-left: 63vw;
}

#slantLabelb {
    // font-variation-settings: 'wght' 450, 'slnt' 5; 
    font-variation-settings: 'wght' 350, 'slnt' 40;
    margin-left: 93.5vw;
}

.my-button {
    /* Set button background color, text color, and padding */
    background-color: black;
    color: #ffffff;
    // padding: 2vw;
    /* Add border and rounded corners for a button-like appearance */
    border: solid;
    border-width: 1px;
    width: 15vw;
    height: 3vw;
    border-radius: 1.5vw;
    // font-size: 10px;
    /* Add hover effect when mouse is over the button */
    transition: background-color 0.3s;
    font-family: 'planar';
    font-size: 1.5vw;
}

.my-button:hover {
    background-color: #696969;
}

#textbutton {
    margin-top: 8vh;
}

.slidename {
    padding: 0%;
    margin: 0%;
    position: absolute;
    // margin-top: -.5vh;
    font-family: 'planar';
    color: #fff;
    font-size: 1.6vw;
}

#weightname {
    padding-left: 6.5vw;
}

#slantname {
    margin-left: 56vw;
}